/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --text-font-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --main-title-hieght: 82%;
  --accent-color: #FF0070;
  --button-text-color: #FF0070;
  --button-outline-color: #FF0070;
  --button-outline-opacity: rgba(255, 0, 112, 0.4);
  --link-border-color: #F1B2CE;
  --article-title-color: #FF0070;
  --corner-decorate-color: #FF0070;
  --dedicated-background-color: #FF0070;
  --dedicated-text-color: #000028;
  --background-page-color: #000028;
  --block-visible: flex;
  --background-page-color: #000028;
  --background-header-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    --text-font-color: #F1B2CE;
    --main-title-color: #DB00FF;
    --main-title-hieght: 82%;
    --accent-color: #FF0070;
    --button-text-color: #FF0070;
    --button-outline-color: #FF0070;
    --button-outline-opacity: rgba(255, 0, 112, 0.4);
    --link-border-color: #F1B2CE;
    --article-title-color: #FF0070;
    --corner-decorate-color: #FF0070;
    --dedicated-background-color: #FF0070;
    --dedicated-text-color: #000028;
    --background-page-color: #000028;
    --block-visible: flex;
    --background-page-color: #000028;
    --background-header-image: url(../images/cover-image-dark.png);
  }
}

