/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Добавил grid, чтобы использовать gap */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-page-color);
  background-position: center;
  background-attachment: fixed;
  display: grid;
  gap: 40px;
}

/* ШАПКА САЙТА */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-image: var(--background-header-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  row-gap: 60px;
  padding: var(--page-padding);
}

.header__theme-menu {
  grid-column-start: 2 span;
}

@media (width <= 768px) {
  .header__theme-menu {
    grid-column: 2/3;
    place-self: end;
    padding: 170px 20px 0 0;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.header__theme-menu-button {
  color: var(--button-text-color);
  border: none;
  background-color: inherit;
  font-size: var(--text-font-size);
  text-transform: lowercase;
  cursor: pointer;
  padding: 2px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: var(--button-outline-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-outline-color);
  pointer-events: none;
}

/* Чтобы проще было изменять общий паддинг пришлось
не добавить отрицательный марджин так как с макетом
не бьется, а делать отдельный падинг для хедера,
не хочется*/
.header__title {
  grid-column-start: 2 span;
  color: #DB00FF;
  font-size: var(--baner-font-size);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
}

@media (width <= 768px) {
  .header__title {
    align-self: center;
  }
}

.header__text {
  white-space: pre-line;
  grid-column: 2/3;
  height: fit-content;
  line-height: var(--text-font-height);
}
/* проблема white-space: pre-line 
- добавляет отступ сверху.  */

/* БЛОК С ТЕКСТОМ */
.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding);
  gap: 88px;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.main__content-title {
  color: var(--section-title-color);
  font-size: var(--text-font-size);
  line-height: var(--text-font-height);
  margin-block-end: 20px;
}

.main__content-list {
  display: grid;
  grid-column: 2 span;
  gap: 20px;
}

.main__content-item {
  display: grid;
  gap: 10px;
}

.main__message {
  font-size: var(--text-font-size);
  color: var(--text-font-color);
  font-weight: 100;
  line-height: var(--text-font-height);
}

.main__content:nth-of-type(2)
.main__content-list {
  grid-row: 2/3;
  grid-column: 1/4;
  display: flex;
  align-items: flex-start;
}

.main__content:nth-of-type(2)
.main__content-item {
  grid-row: 2/3;
  grid-column: 1/4;
  min-width: 200px;
  width: 100%;
}

@media (width <= 768px) {
  .main__content:nth-of-type(2)
  .main__content-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.main__content-step {
  font-weight: 400;
}

/* РАЗДЕЛ ГАЛЕРИИ */
.main__gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px));
  box-sizing: border-box;
  gap: 20px;
  grid-auto-flow: dense;
}

.gallery__item:nth-of-type(1n) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gallery__item:nth-of-type(2n) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item:nth-of-type(3n) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__item:nth-of-type(4n) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item:nth-of-type(5n) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

/* ФУТЕР */
.footer {
  position: relative;
  display: flex;
  height: 75vw;
  align-items: center;
  justify-content: center;
}

.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DB00FF;
  font-size: var(--baner-font-size);
  font-weight: bold;
}
