/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Добавил grid, чтобы использовать gap */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-page-color);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  background-image: var(--background-header-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:  var(--page-padding);
  padding-right:  var(--page-padding);
  padding-left:  var(--page-padding);
  row-gap: 68px;
}

.header__theme-menu {
  grid-row: 1/2;
  grid-column: 1/3;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-text-color);
  border: none;
  background-color: inherit;
  font-size: var(--text-font-size);
  text-transform: lowercase;
  cursor: pointer;
  padding: 2px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: var(--button-outline-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-outline-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: var(--baner-font-size);
  color: var(--main-title-color);
  /* line-height: var(--main-title-hieght); */
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
  align-self: center;
}

.header__text {
  grid-row: 3/4;
  grid-column: 2/3;
  line-height: var(--text-font-height);
  height: fit-content;
  white-space: pre-line;
}

/* ОСНОВНОЙ КОНТЕНТ */
.main {
  display: flex;
  flex-direction: column;
  gap: 86px;
  padding: var(--page-padding);
}

.main__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  grid-auto-flow: dense;
}

.main__content-title {
  color: var(--article-title-color);
  font-size: var(--text-font-size);
  line-height: var(--text-font-height);
  font-weight: var(--bold-font-weight);
  grid-column: 1/2;
  grid-row: 2 span;
}

/* Добавил эту обертку, чтобы сделать отступ по макету
до этого все отступы были 20px */
.main__content-article {
  display: grid;
  grid-column: 2/4;
  row-gap: 10px;
}

.main__content:nth-of-type(2) {
  display: grid;
  align-items: start;
}

.main__content:nth-of-type(2)
.main__content-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main__content:nth-of-type(2)
.main__content-article:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main__content:nth-of-type(2)
.main__content-article:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main__content:nth-last-of-type(2)
.main__content-article:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.main__content-subtitle {
  grid-column: 2/4;
}

.main__content-main-idia {
  font-weight: var(--normal-font-weight);
  color: var(--dedicated-text-color);
  background-color: var(--dedicated-background-color);
  font-size: var(--text-font-size);
  line-height: var(--text-font-height);
  grid-column: 2/4;
}

.main__content-text {
  font-size: var(--text-font-size);
  color: var(--text-font-color);
  font-weight: var(--normal-font-weight);
  line-height: var(--text-font-height);
  grid-column: 2/4;
}

/* Галерея */
.main__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 230px));
  gap: 20px;
  grid-auto-flow: row dense;
}

.main__gallery-subtitle {
  grid-column: 3 span;
  grid-row: 1/2;
}

.main__gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__gallery-image:nth-of-type(1n) {
  grid-column: 1/3;
  grid-row: 2/3;
}

.main__gallery-image:nth-of-type(2n) {
  grid-column: 3/4;
  grid-row: 2/4;
}

.main__gallery-image:nth-of-type(3n) {
  grid-column: 1/2;
  grid-row: 3/5;
}

.main__gallery-image:nth-of-type(4n) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.main__gallery-image:nth-of-type(5n) {
  grid-column: 2/4;
  grid-row: 4/5;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vw;
}

.footer__text {
  color: var(--main-title-color);
  font-size: var(--baner-font-size);
  font-weight: bold;
}