/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-font-size: 18px;
  --text-font-height: 23.4px;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --baner-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --phone-baner-font-size: clamp(7.25rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --text-font-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --main-title-hieght: 82%;
  --accent-color: #FF0070;
  --button-text-color: #FF0070;
  --button-outline-color: #FF0070;
  --button-outline-opacity: rgba(255, 0, 112, 0.4);
  --link-border-color: #F1B2CE;
  --article-title-color: #FF0070;
  --corner-decorate-color: #FF0070;
  --dedicated-background-color: #FF0070;
  --dedicated-text-color: #000028;
  --background-page-color: #000028;
  --content-gap: 20px;
  --content-padding: 20px;
  --title-content-gap: 10px;
  --desktop-padding: 20px;
  /* возможон стоит удалить */
  --desktop-gap: 20px;
  --table-gap: 20px;
  --phone-gap: 20px;
  --table-padding: 30px;
  --phone-pading: 10px;
  --phone-gallery-gap: 10px;
  --table-blocks-padding: 4px;
  --block-visible: none;
  --background-page-color: #000028;
  --background-header-image: url(../images/cover-image-dark.png);
}
